@media (max-width:289px) {
	body { padding-top:96px; }
}
@media (max-width:991px) {
	@media (min-width:290px) {
		body { padding-top:56px; }
	}
}
@media (min-width:992px) {
	body { padding-top:64px; }
}

.container-fluid { padding:0; }
.row { margin:0; }
.col { padding:0; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.vam { vertical-align:middle !important; }
