<!doctype html>
<html lang="fr" ng-app="MTG_App">
<head>
	<meta charset="utf-8">
	<title>MTG Tournament</title>
	<link rel="stylesheet" href="libs/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/default.css">
	<script src="libs/jquery/jquery-3.3.1.min.js"></script>
	<script src="libs/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
	<script src="libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-controller="MTG_Ctrl">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<td class="tl vam"><b>MTG swiss pairings</b></td>
								<td class="tc" ng-show="roundMaxCount() > 0">
									<div class="btn-group">
										<button class="btn btn-lg btn-secondary" disabled>Round</button>
										<button class="btn btn-lg" ng-repeat="i in roundMaxCountRange()" ng-click="selectRound($index)" ng-class="{'active':(roundCount() > 0 && selectedRound == $index), 'btn-outline-primary':($index < roundCount() && $index != selectedRound), 'btn-primary':($index == selectedRound), 'btn-secondary':($index >= roundCount())}" ng-disabled="$index >= roundCount()">{{$index + 1}}</button>
									</div>
								</td>
								<td class="tr">
									<div class="btn-group">
										<button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
										<div class="dropdown-menu dropdown-menu-right">
											<button class="dropdown-item" ng-click="newRound()" ng-disabled="!canCreateNewRound() || !lastRoundScoresEntered()">New round</button>
											<div class="dropdown-divider"></div>
											<button class="dropdown-item" ng-click="cancelLastRound()" ng-disabled="!canCancelLastRound()">Cancel last round</button>
											<div class="dropdown-divider"></div>
											<button class="dropdown-item" ng-click="reset()">Reset all</button>
										</div>
									</div>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<table class="table table-bordered table-striped">
						<thead class="thead-inverse">
							<tr>
								<th class="tc">{{sortedPlayers.length}} players</th>
								<th class="tc" title="Win">W</th>
								<th class="tc" title="Bye">B</th>
								<th class="tc" title="Loose">L</th>
								<th class="tc" title="Draw">D</th>
								<th class="tc" title="Match Points">MP</th>
								<th class="tc" title="Match Win %">MW%</th>
								<th class="tc" title="Oppopent match win % (Tiebreaker 1)">OMW%</th>
								<th class="tc" title="Game Points">GP</th>
								<th class="tc" title="Game Win % (Tiebreaker 2)">GW%</th>
								<th class="tc" title="Oppopent Game Win % (Tiebreaker 3)">OGW%</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="player in sortedPlayers">
								<th class="tl">{{player.name}}</th>
								<td class="tc">{{computeMatchesWin(player)}}</td>
								<td class="tc">{{computeByeCount(player)}}</td>
								<td class="tc">{{computeMatchesLoose(player)}}</td>
								<td class="tc">{{computeMatchesDraw(player)}}</td>
								<th class="tc">{{computePlayerMatchPoints(player)}}</th>
								<td class="tc">{{computePlayerMatchWinPercent(player).toFixed(2)}}</td>
								<th class="tc">{{computeOpponentMatchWinPercent(player).toFixed(2)}}</th>
								<td class="tc">{{computePlayerGamePoints(player)}}</td>
								<th class="tc">{{computePlayerGameWinPercent(player).toFixed(2)}}</th>
								<th class="tc">{{computeOpponentGameWinPercent(player).toFixed(2)}}</th>
							</tr>
						</tbody>
						<thead ng-show="roundCount() == 0">
							<tr>
								<td colspan="11" class="tc">
									<div class="input-group input-group-lg">
										<input type="text" class="form-control" placeholder="Player name" aria-label="Player name" aria-describedby="basic-addon2" ng-model="playerNameToAdd" ng-keypress="addPlayerKeyPress($event, playerNameToAdd)">
										<div class="input-group-append">
											<button class="btn btn-lg btn-success" type="button" ng-click="addPlayer(playerNameToAdd)" ng-disabled="!canAddPlayer(playerNameToAdd)">Add</button>
										</div>
									</div>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-bordered table-striped">
						<thead class="thead-inverse">
							<tr>
								<th class="tc">Player</th>
								<th class="tc">Score</th>
								<th class="tc">Opponent</th>
								<th class="tc">Finished</th>
							</tr>
						</thead>
						<tbody id="matches">
							<tr ng-repeat="match in rounds[selectedRound]" ng-if="!match.bye">
								<th class="vam">{{match.playerName}}</th>
								<td class="vam">
									<div class="input-group input-group-lg">
										<input type="number" min="0" max="3" class="form-control" ng-model="match.playerScore" ng-change="updateScore(match)" ng-disabled="match.finished">
										<div class="input-group-prepend input-group-append">
											<!--<span class="input-group-text">vs</span>-->
											<button class="btn btn-lg btn-secondary" disabled>vs</button>
										</div>
										<input type="number" min="0" max="3" class="form-control" ng-model="match.opponentScore" ng-change="updateScore(match)" ng-disabled="match.finished">
									</div>
								</td>
								<th class="vam">{{match.opponentName}}</th>
								<td class="tc vam">
									<input type="checkbox" class="checkbox" ng-model="match.finished" ng-change="updateScore(match)" ng-show="selectedRound == (roundCount() - 1)">
								</td>
							</tr>
							<tr ng-repeat="match in rounds[selectedRound]" ng-if="match.bye">
								<th class="vam">{{match.playerName}}</th>
								<td class="vam" colspan="3">Bye</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
