<header>
	<table class="table table-lg">
		<tr>
			<!-- Menus -->
			<td class="text-left">
				<div class="dropdown">
					<button class="btn btn-lg btn-primary dropdown-toggle" id="ActionsDropdownButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Actions
					</button>
					<div class="dropdown-menu" aria-labelledby="ActionsDropdownButton">
						<a class="dropdown-item" style="cursor:pointer" ng-click="ctrl.reset()">New tournament</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" style="cursor:pointer" ng-click="ctrl.newRound()" ng-class="{'disabled':(!ctrl.canCreateNewRound())}" ng-disabled="!ctrl.canCreateNewRound()">New round</a>
						<a class="dropdown-item" style="cursor:pointer" ng-click="ctrl.cancelLastRound()" ng-class="{'disabled':(!ctrl.canCancelLastRound())}" ng-disabled="(!ctrl.canCancelLastRound())">Cancel last round</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" style="cursor:pointer" id="importButton" ng-click="ctrl.import()">Import</a>
						<input type="file" accept=".json" id="importFile" ng-show="0" custom-on-change=" ctrl.importFileChange.bind(ctrl)">
						<a class="dropdown-item" style="cursor:pointer" ng-click="ctrl.export()">Export</a>
						<div class="dropdown-divider" ng-show="ctrl.debug"></div>
						<a class="dropdown-item" style="cursor:pointer" id="add100RandomPlayers" ng-click="ctrl.add100RandomPlayers()" ng-show="ctrl.debug">Add 100 random Players</a>
						<a class="dropdown-item" style="cursor:pointer" id="fillRandomScores" ng-click="ctrl.fillRandomScores()" ng-show="ctrl.debug">Fill random scores</a>
					</div>
				</div>
			</td>
			<!-- Rounds -->
			<td class="text-left" ng-show="ctrl.roundMaxCount() > 0">
				<div class="btn-group" role="group" aria-label="rounds">
					<button type="button" class="btn btn-lg btn-outline-dark" disabled>Round</button>
					<button type="button" class="btn btn-lg" ng-repeat="i in ctrl.roundMaxCountRange()" ng-click="ctrl.selectRound($index)" ng-class="{'active':(ctrl.roundCount() > 0 && ctrl.selectedRound == $index), 'btn-outline-primary':$index < ctrl.roundCount(), 'btn-outline-dark': $index >= ctrl.roundCount()}" ng-disabled="$index >= ctrl.roundCount()">{{$index + 1}}</button>
				</div>
			</td>
		</tr>
	</table>
</header>
<main>
	<div class="container-fluid" style="padding-left:0;padding-right:0;">
		<div class="row" style="margin-left:0;margin-right:0;">
			<div class="col" style="padding-left:0;padding-right:0;">
				<!-- Players list -->
				<table class="table table-lg table-bordered table-striped table-hover" ng-if="ctrl.roundCount() === 0">
					<thead class="thead-dark">
						<tr>
							<th class="text-center align-middle">#</th>
							<th class="text-center align-middle">{{ctrl.players.length}} players</th>
							<th class="text-center align-middle">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(playerIndex, player) in ctrl.sortedPlayers">
							<td class="text-center align-middle">{{playerIndex + 1}}</td>
							<th class="text-left align-middle">{{player.name}}</th>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() == 0">
								<button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.removePlayer(player)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Players scores -->
				<table class="table table-lg table-bordered table-striped table-hover" ng-if="ctrl.roundCount() > 0">
					<thead class="thead-dark">
						<tr>
							<th class="text-center align-middle">#</th>
							<th class="text-center align-middle" colspan="2">{{ctrl.allScores[ctrl.selectedRound].length}} players</th>
							<th class="text-center align-middle" title="Win (Bye)" ng-if="ctrl.roundCount() > 0">W</th>
							<th class="text-center align-middle" title="Loose" ng-if="ctrl.roundCount() > 0">L</th>
							<th class="text-center align-middle" title="Draw" ng-if="ctrl.roundCount() > 0">D</th>
							<th class="text-center align-middle" title="Match Points" ng-if="ctrl.roundCount() > 0">MP</th>
							<th class="text-center align-middle" title="Match-win %" ng-if="ctrl.roundCount() > 0">MW%</th>
							<th class="text-center align-middle" title="Opponents' match-win % (Tiebreaker 1)" ng-if="ctrl.roundCount() > 0">OMW%</th>
							<th class="text-center align-middle" title="Game Points" ng-if="ctrl.roundCount() > 0">GP</th>
							<th class="text-center align-middle" title="Game-win % (Tiebreaker 2)" ng-if="ctrl.roundCount() > 0">GW%</th>
							<th class="text-center align-middle" title="Opponents' game-win % (Tiebreaker 3)" ng-if="ctrl.roundCount() > 0">OGW%</th>
						</tr>
					</thead>
					<tbody>
						<tr style="cursor:pointer" ng-repeat="(playerIndex, score) in ctrl.allScores[ctrl.selectedRound]" ng-click="ctrl.toggleSelectPlayer(score.playerId)" ng-class="{'bg-info':(ctrl.selectedPlayerId == score.playerId), 'bg-success':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayerId, score.playerId, ctrl.selectedRound) > 0), 'bg-danger':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayerId, score.playerId, ctrl.selectedRound) < 0), 'bg-warning':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayerId, score.playerId, ctrl.selectedRound) === 0)}">
							<td class="text-center align-middle"><span ng-show="!ctrl.isCurrentRound() || ctrl.currentRoundScoresEntered()">{{playerIndex + 1}}</span></td>
							<th class="text-left">
								{{score.player.name}}
							</th>
							<td>
								<button class="btn btn-sm btn-dark" ng-show="ctrl.canDrop(score.playerId)" ng-click="ctrl.toggleDropPlayer(score.playerId); $event.stopPropagation();">Drop</button>
								<button class="btn btn-sm btn-danger" ng-show="ctrl.canUndrop(score.playerId)" ng-click="ctrl.toggleDropPlayer(score.playerId); $event.stopPropagation();">Undrop</button>
								<span ng-show="ctrl.playerDropped(score.playerId) && !ctrl.canUndrop(score.playerId)" title="dropped after round {{score.player.drop + 1}}">dropped</span>
								<span ng-show="ctrl.showIsPending(score.playerId)">Pending...</span>
							</td>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() == 0"><button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.removePlayer(score.player)">Delete</button></td>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() > 0">{{ctrl.intDisplayNoZero(score.matchesWin)}}<small>{{score.byes > 0 ? "B" : ""}}</small></span></td>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() > 0">{{ctrl.intDisplayNoZero(score.matchesLoose)}}</td>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() > 0">{{ctrl.intDisplayNoZero(score.matchesDraw)}}</td>
							<th class="text-center align-middle" ng-if="ctrl.roundCount() > 0"><span style="font-size:120%">{{score.matchPoints}}</span></th>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() > 0" ng-attr-title="{{ctrl.floatDisplay(score.matchWinPercent)}}">{{ctrl.floatDisplayFixed(score.matchWinPercent)}}</td>
							<th class="text-center align-middle" ng-if="ctrl.roundCount() > 0" ng-attr-title="{{ctrl.floatDisplay(score.opponentMatchWinPercent)}}">{{ctrl.floatDisplayFixed(score.opponentMatchWinPercent)}}</th>
							<td class="text-center align-middle" ng-if="ctrl.roundCount() > 0">{{ctrl.intDisplay(score.gamePoints)}}</td>
							<th class="text-center align-middle" ng-if="ctrl.roundCount() > 0" ng-attr-title="{{ctrl.floatDisplay(score.gameWinPercent)}}">{{ctrl.floatDisplayFixed(score.gameWinPercent)}}</th>
							<th class="text-center align-middle" ng-if="ctrl.roundCount() > 0" ng-attr-title="{{ctrl.floatDisplay(score.opponentGameWinPercent)}}">{{ctrl.floatDisplayFixed(score.opponentGameWinPercent)}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" style="margin-left:0;margin-right:0;" ng-show="ctrl.roundCount() == 0">
			<!-- Add new player -->
			<div class="col text-center" style="padding-left:0;padding-right:0;">
				<p>
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" placeholder="Player name" aria-label="Player name" ng-model="ctrl.playerNameToAdd" ng-keypress="ctrl.addPlayerKeyPress($event, ctrl.playerNameToAdd)">
						<div class="input-group-append">
							<button type="button" class="btn btn-lg btn-success" ng-click="ctrl.addPlayer(ctrl.playerNameToAdd)" ng-disabled="!ctrl.canAddPlayer(ctrl.playerNameToAdd)">Add</button>
						</div>
					</div>
				</p>
			</div>
		</div>
		<div class="row" style="margin-left:0;margin-right:0;" ng-show="ctrl.roundCount() > 0">
			<div class="col" style="padding-left:0;padding-right:0;">
				<!-- Add new player -->
				<table class="table table-sm table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="text-center align-middle">#</th>
							<th class="text-center align-middle">Player</th>
							<th class="text-center align-middle">Score</th>
							<th class="text-center align-middle">Opponent</th>
							<th class="text-center align-middle">Last game started</th>
							<th class="text-center align-middle">Validation</th>
						</tr>
					</thead>
					<tbody id="matches">
						<tr ng-repeat="(matchIndex, match) in ctrl.rounds[ctrl.selectedRound]" ng-if="match.state !== ctrl.MatchState.Bye">
							<td class="text-center align-middle">{{matchIndex + 1}}</td>
							<th class="text-center align-middle">{{ctrl.players[match.p1].name}}</th>
							<td class="text-center align-middle">
								<div class="input-group input-group-lg">
									<input type="number" class="form-control" ng-model="match.score1" ng-change="ctrl.updateScore(match)" ng-disabled="match.state === ctrl.MatchState.Validated">
									<div class="input-group-prepend input-group-append">
										<span class="input-group-text">vs</span>
									</div>
									<input type="number" class="form-control" ng-model="match.score2" ng-change="ctrl.updateScore(match)" ng-disabled="match.state === ctrl.MatchState.Validated">
								</div>
							</td>
							<th class="text-center align-middle">{{ctrl.players[match.p2].name}}</th>
							<td class="text-center align-middle">
								<button class="btn btn-dark" ng-show="match.lastGameStarted === 1" ng-disabled="match.state === ctrl.MatchState.Validated" ng-click="match.lastGameStarted = 0; ctrl.updateScore(match);">Yes</button>
								<button class="btn btn-dark" ng-show="match.lastGameStarted === 0" ng-disabled="match.state === ctrl.MatchState.Validated" ng-click="match.lastGameStarted = 1; ctrl.updateScore(match);">No</button>
							</td>
							<td class="text-center align-middle">
								<button class="btn btn-dark" ng-show="ctrl.isCurrentRound() && match.state === ctrl.MatchState.Validated" ng-disabled="!ctrl.isCurrentRound()" ng-click="match.state = ctrl.MatchState.Pending; ctrl.updateScore(match);">Yes</button>
								<button class="btn btn-dark" ng-show="ctrl.isCurrentRound() && match.state === ctrl.MatchState.Pending" ng-disabled="!ctrl.isCurrentRound()" ng-click="match.state = ctrl.MatchState.Validated; ctrl.updateScore(match);">No</button>
							</td>
						</tr>
						<tr ng-repeat="match in ctrl.rounds[ctrl.selectedRound]" ng-if="match.state === ctrl.MatchState.Bye">
							<td class="align-middle">Bye</td>
							<th class="align-middle" colspan="5">{{ctrl.players[match.p1].name}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
