<header>
	<table class="table table-lg">
		<tr>
			<td class="tl">
				<a class="dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Actions
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="" ng-click="ctrl.reset()">New tournament</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="" ng-click="ctrl.newRound()" ng-class="{'disabled':!ctrl.canCreateNewRound()}" ng-disabled="!ctrl.canCreateNewRound()">New round</a>
					<a class="dropdown-item" href="" ng-click="ctrl.cancelLastRound()" ng-class="{'disabled':!ctrl.canCancelLastRound()}" ng-disabled="!ctrl.canCancelLastRound()">Cancel current round</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" id="importButton" href="" ng-click="ctrl.import()">Import</a>
					<input type="file" accept=".json" id="importFile" ng-show="0" custom-on-change=" ctrl.importFileChange.bind(ctrl)">
					<a class="dropdown-item" href="" ng-click="ctrl.export()">Export</a>
				</div>
			</td>
			<td class="tl" ng-show="ctrl.roundMaxCount() > 0">
				<form class="form-inline btn-group">
					<button type="button" class="btn btn-lg btn-outline-secondary" disabled>Round</button>
					<button type="button" class="btn btn-lg btn-1" ng-repeat="i in ctrl.roundMaxCountRange()" ng-click="ctrl.selectRound($index)" ng-class="{'active':(ctrl.roundCount() > 0 && ctrl.selectedRound == $index)}" ng-disabled="($index >= ctrl.roundCount())">{{$index + 1}}</button>
				</form>
			</td>
		</tr>
	</table>
</header>
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<table class="table table-lg table-bordered table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th class="tc">#</th>
							<th class="tc" colspan="2">{{ctrl.sortedPlayers.length}} players</th>
							<th class="tc" ng-if="ctrl.roundCount() == 0">Delete</th>
							<th class="tc" title="Win (Bye)" ng-if="ctrl.roundCount() > 0">W</th>
							<th class="tc" title="Loose" ng-if="ctrl.roundCount() > 0">L</th>
							<th class="tc" title="Draw" ng-if="ctrl.roundCount() > 0">D</th>
							<th class="tc" title="Match Points" ng-if="ctrl.roundCount() > 0">MP</th>
							<th class="tc" title="Match Win %" ng-if="ctrl.roundCount() > 0">MW%</th>
							<th class="tc" title="Oppopent match win % (Tiebreaker 1)" ng-if="ctrl.roundCount() > 0">OMW%</th>
							<th class="tc" title="Game Points" ng-if="ctrl.roundCount() > 0">GP</th>
							<th class="tc" title="Game Win % (Tiebreaker 2)" ng-if="ctrl.roundCount() > 0">GW%</th>
							<th class="tc" title="Oppopent Game Win % (Tiebreaker 3)" ng-if="ctrl.roundCount() > 0">OGW%</th>
						</tr>
					</thead>
					<tbody>
						<tr class="pointer" ng-repeat="(playerIndex, player) in ctrl.sortedPlayers" ng-click="ctrl.toggleSelectPlayer(player)" ng-class="{'bg-info':(ctrl.selectedPlayer == player), 'bg-success':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayer, player, ctrl.selectedRound) > 0), 'bg-danger':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayer, player, ctrl.selectedRound) < 0), 'bg-warning':(ctrl.playerMatchesWinDiff(ctrl.selectedPlayer, player, ctrl.selectedRound) === 0)}">
							<th class="tc">{{playerIndex + 1}}</th>
							<th class="tl">
								<span ng-show="ctrl.canDisplayMedals()">
									<span ng-show="playerIndex === 0">&#x1F947</span>
									<span ng-show="playerIndex === 1">&#x1F948</span>
									<span ng-show="playerIndex === 2">&#x1F949</span>
								</span>
								{{player.name}}
							</th>
							<td>
								<button class="btn btn-secondary" ng-show="ctrl.canDrop(player.name)" ng-click="ctrl.toggleDropPlayer(player.name); $event.stopPropagation();">Drop</button>
								<button class="btn btn-danger" ng-show="ctrl.canUndrop(player.name)" ng-click="ctrl.toggleDropPlayer(player.name); $event.stopPropagation();">Undrop</button>
								<span ng-show="ctrl.playerDropped(player.name) && !ctrl.canUndrop(player.name)" title="dropped after round {{player.drop + 1}}">dropped</span>
							</td>
							<td class="tc" ng-if="ctrl.roundCount() == 0"><button type="button" class="btn btn-md btn-danger" ng-click="ctrl.removePlayer(player)">Delete</button></td>
							<td class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computeMatchesWinPlusBye(player, ctrl.selectedRound))}} <small>{{ctrl.hasABye(player, ctrl.selectedRound) ? "B" : ""}}</small></span></td>
							<td class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computeMatchesLoose(player, ctrl.selectedRound))}}</td>
							<td class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computeMatchesDraw(player, ctrl.selectedRound))}}</td>
							<th class="tc" ng-if="ctrl.roundCount() > 0"><span class="badge badge-dark">{{ctrl.computePlayerMatchPoints(player, ctrl.selectedRound)}}</span></th>
							<td class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computePlayerMatchWinPercent(player, ctrl.selectedRound).toFixed(3))}}</td>
							<th class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computeOpponentMatchWinPercent(player, ctrl.selectedRound).toFixed(3))}}</th>
							<td class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.computePlayerGamePoints(player, ctrl.selectedRound)}}</td>
							<th class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computePlayerGameWinPercent(player, ctrl.selectedRound).toFixed(3))}}</th>
							<th class="tc" ng-if="ctrl.roundCount() > 0">{{ctrl.forDisplay(ctrl.computeOpponentGameWinPercent(player, ctrl.selectedRound).toFixed(3))}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-show="ctrl.roundCount() == 0">
			<div class="col tc">
				<p>
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" placeholder="Player name" aria-label="Player name" ng-model="ctrl.playerNameToAdd" ng-keypress="ctrl.addPlayerKeyPress($event, ctrl.playerNameToAdd)">
						<div class="input-group-append">
							<button type="button" class="btn btn-lg btn-success" ng-click="ctrl.addPlayer(ctrl.playerNameToAdd)" ng-disabled="!ctrl.canAddPlayer(ctrl.playerNameToAdd)">Add</button>
						</div>
					</div>
				</p>
			</div>
		</div>
		<div class="row" ng-show="ctrl.roundCount() > 0">
			<div class="col">
				<table class="table table-sm table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="tc">#</th>
							<th class="tc">Player</th>
							<th class="tc">Score</th>
							<th class="tc">Opponent</th>
							<th class="tc">Finished</th>
						</tr>
					</thead>
					<tbody id="matches">
						<tr ng-repeat="(matchIndex, match) in ctrl.rounds[ctrl.selectedRound]" ng-if="!match.bye">
							<th class="vam">{{matchIndex + 1}}</th>
							<th class="vam">{{match.playerName}}</th>
							<td class="vam">
								<div class="input-group input-group-lg">
									<input type="number" min="0" max="3" class="form-control" ng-model="match.playerScore" ng-change="ctrl.updateScore(match)" ng-disabled="match.finished">
									<div class="input-group-prepend input-group-append">
										<span class="input-group-text">vs</span>
									</div>
									<input type="number" min="0" max="3" class="form-control" ng-model="match.opponentScore" ng-change="ctrl.updateScore(match)" ng-disabled="match.finished">
								</div>
							</td>
							<th class="vam">{{match.opponentName}}</th>
							<td class="tc vam">
								<div class="btn-group-toggle" ng-show="ctrl.isCurrentRound()">
									<label class="btn btn-1" ng-class="{'active':match.finished}">
										<input type="checkbox" autocomplete="off" ng-model="match.finished" ng-change="ctrl.updateScore(match)"> {{match.finished ? "Yes" : "No"}}
									</label>
								</div>
							</td>
						</tr>
						<tr ng-repeat="match in ctrl.rounds[ctrl.selectedRound]" ng-if="match.bye">
							<th class="vam">Bye</th>
							<th class="vam" colspan="4">{{match.playerName}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
